*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
}

:root{
    --white : #fff;
    --black : #000;
    --chocolat : #6C541E;
    --chocolat_fort : #7e6220;
}

/* STYLE GENERALE */
img{
    width: 100%;
    object-fit: cover;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1{
    font-size: 2.1875rem;
    font-family: 'Cuprum', sans-serif;
}
p{
    font-size: 0.875rem;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
}

/* ENTETE DU SITE */
#main-header{
    padding: 20px 40px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px solid rgba(0, 0, 0, 0.6);
}

header .title{
    font-size: 1.375rem;
    color: var(--chocolat);
}
#main-header .title span{
    display: block;
}
#main-header .title span:nth-child(1)::after{
    content: '';
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: var(--chocolat);
    mask-image: linear-gradient(to left, transparent, black);
}
#main-header .title span:nth-child(1){
    font-size: 1.0625rem;
    letter-spacing: 5px;
    font-family: 'Cuprum', sans-serif;
}
#main-header .title span:nth-child(2){
    font-weight: 700;
}
#main-header .title span:nth-child(3){
    font-size: 0.875rem;
    letter-spacing: 4px;
    font-family: 'Cuprum', sans-serif;
}
#main-header .flex-nav-menu{
    gap: 20px;
}
#main-header .flex-nav-menu a{
    color: var(--chocolat);
    font-size: 1.0625rem;
    font-weight: 500;
    position: relative;
}
#main-header .flex-nav-menu a::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--chocolat);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left 50%;
    transition: transform 300ms ease;
}
#main-header .flex-nav-menu a:hover::before{
    transform: scaleX(1);
}
#main-header .contact-btn{
    display: none;
}
#main-header .contact-btn a{
    border: 1px solid var(--white);
}
#main-header .contact-btn a::before{
    content: none;
}
#main-header .flex-contact-wa{
    gap: 15px;
}
#main-header .flex-contact-wa img{
    padding: 5px;
    object-fit: cover;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
#main-header .flex-contact-wa div.watsapp{
    font-weight: 500;
    margin-bottom: 4px;
}
#main-header .flex-contact-wa p{
    color: var(--chocolat);
    font-size: 0.875rem;
}
#main-header .flex-contact-wa a,
#main-header .contact-btn a{
    font-size: 0.875rem;
    background-color: var(--chocolat);
    color: var(--white) !important;
    padding: 10px 12px;
    border-radius: 6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
#main-header .flex-contact-wa a:hover,
#main-header .contact-btn a:hover{
    background-color: var(--chocolat_fort);
}

#burger-menu{
    position: relative;
    background-color: transparent;
    border: none;
    display: none;
}
#burger-menu svg{
    width: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close{
    display: none;
}
.open{
    display: inline-block;
}

/* BANNIERE SITE */
#banniere{
    width: 100%;
    height: 600px;
    background: url(../assets/images/home-banniere.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    position: relative;
}
#banniere::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
/* SECTION PRESENTATION */
#section-presentation{
    padding: 100px 50px;
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-presentation h1{
    text-align: center;
    font-size: 2.75rem;
    color: var(--white);
}
#section-presentation h1 span{
    font-size: 2rem;
}

.ctn-btn-presentation{
    margin-top: 30px;
}
.ctn-btn-presentation a{
    max-width: 400px;
    padding: 10px 24px;
    width: 100%;
    background-color: var(--chocolat);
    color: var(--white);
    border: 1px solid var(--white);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
.ctn-btn-presentation a:hover{
    background-color: var(--chocolat_fort);
}

/* SECTION ONE */
#section-one{
    padding: 100px 100px;
    background-color: var(--white);
}
#section-one .grid-section-one{
    grid-template-columns: 1fr 1.5fr;
    gap: 60px;
}
#section-one .grid-section-one .content-section-grid{
    margin-top: 100px;
    max-width: 550px;
    width: 100%;
}
#section-one .grid-section-one .content-section-grid .title{
    margin-bottom: 4px;
    color: var(--black);
}
#section-one .grid-section-one .content-section-grid h1{
    margin-bottom: 20px;
}
#section-one .grid-section-one .content-section-grid .ctn-btn{
    margin-top: 20px;
}
#section-one .grid-section-one .content-section-grid .ctn-btn a{
    background-color: var(--chocolat);
    color: var(--white);
    padding: 10px 24px;
    border-radius: 999px;
}
#section-one .grid-section-one .content-section-grid .ctn-btn a:hover{
    background-color: var(--chocolat_fort);
}
#section-one img:first-of-type{
    width: 400px;
    aspect-ratio: 3/3;
    position: relative;
    left: 10%;
}
#section-one .relative{
    position: relative;
    top: -100px;
    left: -10%;
}
#section-one .relative img:last-of-type{
    display: inline-block;
    width: 400px;
    aspect-ratio: 4/2;
    border: 12px solid var(--white);
}


@media screen and (max-width: 1024px) {
     /* SECTION ONE */
    #section-one{
        padding: 100px 24px;
        background-color: var(--white);
    }
    #section-one .grid-section-one .content-section-grid{
        margin-top: 0px;
        max-width: 550px;
        width: 100%;
    }   
    #section-one .relative{
        position: relative;
        top: -100px;
        left: 0;
    }
    #section-one .relative img:last-of-type{
        width: 100%;
        aspect-ratio: 4/2;
        border: 12px solid var(--white);
    }
    #section-one .grid-section-one img{
        width: 100%;
        left: 0;
        left: 0;
    }
}

@media screen and (max-width: 768px) {
    /* ENTETE DU SITE */
    header{
        position: relative;
        padding-inline: 24px;
    }
    .menu-responsive{
        display: block;
        position: absolute;
        z-index: 5000;
        left: 0;
        top: 100%;
        width: 100%;
        height: 350px;
        background-color: var(--chocolat);
        padding-block: 40px;
        transform: scaleY(0);
        transform-origin: 50% top;
        transition: transform 300ms linear;
    }
    .openMenu{
        transform: scaleY(1);
    }
    .flex-nav-menu{
        flex-direction: column;
        align-items: center;
    }
    header .flex-nav-menu a{
        color: var(--white);
    }
    header .flex-nav-menu a::before{
        background-color: var(--white);
    }
    header .flex-contact-wa .display-none,
    header .flex-contact-wa div{
        display: none;
    }
    header .contact-btn{
        display: inline-block;
    }

    #burger-menu{
        position: relative;
        background-color: transparent;
        display: inline-block;
        cursor: pointer;
    }


    /* SECTION PRESENTATION */
    #section-presentation{
        padding-inline: 24px;
    }
    #section-presentation h1{
        text-align: left;
    }

    /* SECTION ONE */
    #section-one .grid-section-one{
        display: block;
    }
    #section-one .relative img:last-of-type{
        width: 100%;
        aspect-ratio: 1;
        border: 12px solid var(--white);
    }
    #section-one .content-section-grid .ctn-btn{
        text-align: center;
    }

   
}

@media screen and (max-width: 640px) {
}
